* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 :root {
    --primary-color: #404b65;
    --secondary-color: #97bec6;
    --tertiary-color: #96c7c9;
}

body {
    background-color: #ebebf4;
}


/*Section and Universal classes */

section {
    padding: 60px;
}

.section-title {
    color: var(--primary-color);
    margin-right: 2.5vw;
    padding-right: 2vw;
    border-right: 2px solid;
    text-align: right;
}

.primary-border {
    border-color: var(--primary-color);
}

.secondary-border {
    border-color: var(--tertiary-color);
}


/* End Section and Universal */


/* Utility */

.flex-row {
    display: flex;
    width: 80%;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


/* Utility End */


/* apply styles to <header> */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
}

header h1 {
    font-weight: bold;
    font-size: 3vw;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1% 1% 1% 5%;
    position: relative;
    left: -35px;
}

header nav {
    margin: 15px 15px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 5px 10px;
    padding: 5px;
    font-weight: lighter;
    font-size: 2vw;
    color: var(--secondary-color)
}

header nav ul li a:hover {
    color: var(--tertiary-color);
    border-bottom: 3px solid;
}


/* Hero Style Start */

.hero {
    height: 20vw;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    position: relative
}

.hero-subtitle {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: 1.5vw;
    padding: .25vw 2vw;
    text-align: center;
    position: absolute;
    right: 4vw;
    bottom: 1vw;
    ;
}


/* Hero Style end */


/* About Section */

.content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.about p {
    margin: 1vw;
}


/* About Section End */


/* Work */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas: "featured featured featured featured run-buddy run-buddy" "featured featured featured featured horiseon horiseon" "kcp kcp adobe-portfolio adobe-portfolio . .";
}

.grid-item {
    border: 5px solid;
    border-color: var(--tertiary-color);
    position: relative;
}

.grid-subtitle {
    background-color: var(--tertiary-color);
    position: absolute;
    bottom: 1vw;
    padding: .25vw;
}

.grid-subtitle h4 {
    text-align: left;
    margin-left: .2vw;
    margin-bottom: .1vw;
}

.grid-subtitle p {
    text-align: left;
    padding: 0px;
    margin-left: .2vw;
    margin-top: .1vw;
}

.featured {
    grid-area: featured;
    background-image: url("../images/HonorHealth-featured.jpg");
    background-size: cover;
    background-position: top;
    width: 40vw;
    height: 20vw;
}

.kcp {
    grid-area: kcp;
    background-image: url("../images/kcp.jpg");
    background-size: cover;
    background-position: top;
}

.adobe-portfolio {
    grid-area: adobe-portfolio;
    background-image: url("../images/jakekelly.jpg");
    background-size: cover;
    background-position: top;
}

.run-buddy {
    grid-area: run-buddy;
    background-image: url("../images/run-buddy.jpg");
    background-size: cover;
    background-position: top;
}

.horiseon {
    grid-area: horiseon;
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    background-position: top;
}


/* Work */


/* Contact */

nav.footer {
    margin: 0px 15px;
}

nav.footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

nav.footer ul li a {
    margin: 5px 10px;
    padding: 5px;
    font-weight: lighter;
    font-size: 1.1vw;
    text-decoration: none;
    color: var(--primary-color)
}

nav.footer ul li a:hover {
    color: var(--primary);
    border-bottom: 3px solid;
    border-color: var(--primary-color)
}


/* Contact End */